@import url("/woff2/Inter/font.css");
@import url("/woff2/Lora/font.css");
@import url("/woff2/JetBrainsMono/font.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

$primary: #2563eb;
$subelementbg: #f5f5f5;
$titlefonts: "Lora", serif;
$contentfonts: "InterVariable", "Inter", sans-serif;
$codefonts: "JetBrainsMonoVariable", "JetBrainsMono", monospace;

body {
    font-family: $contentfonts;
}

article p {
    a {
        color: $primary;
        text-decoration-line: underline;
    }
}

.title {
    font-family: $titlefonts;
}

.hljs {
    font-family: $codefonts;
}
