@font-face {
	font-family: "Lora";
	src: url("/woff2/Lora/LoraVariable.woff2"), format("woff2");
}
@font-face {
	font-family: "Lora";
	font-style: italic;
	src: url("/woff2/Lora/LoraVariable-Italic.woff2"), format("woff2");
}
